<!-- Breadcrumb Section Start -->
<div class="breadcrumb-section section page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 ms-auto me-auto">
                <div class="page-breadcrumb-content color-white">
                    <ul class="page-breadcrumb color-white">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="blog.html">Career Advice</a></li>
                        <li>{{blog?.title}}</li>
                    </ul>
                    <h1>{{blog?.title}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Start -->

<!-- Blog Section Start -->
<div
    class="blog-section section pt-120 pt-lg-100 pt-md-80 pt-sm-60 pt-xs-50 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row">

            <div class="col-xl-8 col-lg-10 ms-auto me-auto">
                <div class="row">

                    <div class="col-12">
                        <!-- Single Blog Start -->
                        <div class="single-blog-post mb-90 mb-xs-50">
                            <div class="blog-image">
                                <img src="{{blog?.image}}" alt="">
                            </div>
                            <div class="blog-content">
                                <ul class="post-meta">
                                    <li><i class="lnr lnr-user"></i><a href="#">{{blog?.author}}</a></li>
                                    <li><i class="lnr lnr-file-add"></i><a href="#">{{blog?.category}}</a></li>
                                    <li><i class="lnr lnr-clock"></i><a href="#"> {{blog?.date}}</a></li>
                                </ul>
                                <p>{{blog?.description}}</p>
                                <p>{{blog?.description}}</p>
                                <blockquote>
                                    <p>The best software developers are creative and have the technical expertise to
                                        carry out innovative ideas. You might expect software developers to sit at their
                                        desks designing programs all day.</p>
                                    <p>
                                        <i class="fa fa-quote-left"></i>
                                        <span><strong>Ronald Korman</strong></span>
                                    </p>
                                </blockquote>
                                <p>{{blog?.description}}</p>
                                <p>{{blog?.description}}</p>
                                <!-- <ul class="blog-dt-list">
                                    <li>Software Developer</li>
                                    <li>Computer Systems Analyst</li>
                                    <li>T Manager</li>
                                    <li>Information Security Analyst</li>
                                    <li>Database Administrator</li>
                                    <li>Web Developer</li>
                                    <li>Computer Network Architect</li>
                                    <li>Computer Systems Administrator</li>
                                    <li>Computer Support Specialist</li>
                                    <li>Computer Programmer</li>
                                </ul> -->
                            </div>
                        </div>
                        <!-- Single Blog End -->
                    </div>

                    <div class="col-12">
                        <div class="job-wrapper mb-90">
                            <h3 class="title">Recent Jobs For You:</h3>
                            <div class="row">

                                <div class="col-md-6 mb-20">
                                    <!-- Single Job Start  -->
                                    <div class="single-job style-two">
                                        <div class="info-top">
                                            <div class="job-image">
                                                <a href="#">
                                                    <img src="assets/images/companies_logo/logo-100/logo1.jpg"
                                                        alt="logo">
                                                </a>
                                            </div>
                                            <div class="job-info">
                                                <div class="job-info-inner">
                                                    <div class="job-info-top">
                                                        <div class="saveJob for-listing">
                                                            <span class="featured-label">featured</span>
                                                            <a class="job-type-label ml-20 mr-20">Full Time</a>
                                                            <a class="save-job" href="#quick-view-modal-container"
                                                                data-toggle="modal">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </div>
                                                        <div class="title-name">
                                                            <h3 class="job-title">
                                                                <a href="#">Chief Accountant</a>
                                                            </h3>
                                                            <div class="employer-name">
                                                                <a href="#">Shippo Company</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="job-meta-two">
                                                        <div class="field-salary_from">
                                                            <i class="gj-icon gj-icon-money"></i>
                                                            $500 - $1,000 / month
                                                        </div>
                                                        <div class="field-datetime"><i class="lnr lnr-clock"></i>8
                                                            months ago</div>
                                                        <div class="field-map"><i class="lnr lnr-map-marker"></i>Hanoi,
                                                            Hanoi</div>
                                                    </div>
                                                    <div class="job-skill-tag">
                                                        <a href="#">Android</a>
                                                        <a href="#">app</a>
                                                        <a href="#">ReactJs</a>
                                                        <a href="#">Ruby</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Job End -->
                                </div>

                                <div class="col-md-6 mb-20">
                                    <!-- Single Job Start  -->
                                    <div class="single-job style-two">
                                        <div class="info-top">
                                            <div class="job-image">
                                                <a href="#">
                                                    <img src="assets/images/companies_logo/logo-100/logo2.jpg"
                                                        alt="logo">
                                                </a>
                                            </div>
                                            <div class="job-info">
                                                <div class="job-info-inner">
                                                    <div class="job-info-top">
                                                        <div class="saveJob for-listing">
                                                            <span class="featured-label">featured</span>
                                                            <a class="job-type-label partTime ml-20 mr-20">Part Time</a>
                                                            <a class="save-job" href="#quick-view-modal-container"
                                                                data-toggle="modal">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </div>
                                                        <div class="title-name">
                                                            <h3 class="job-title">
                                                                <a href="#">Senior Data Engineer</a>
                                                            </h3>
                                                            <div class="employer-name">
                                                                <a href="#">Radio Game</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="job-meta-two">
                                                        <div class="field-salary_from">
                                                            <i class="gj-icon gj-icon-money"></i>
                                                            $500 - $1,000 / month
                                                        </div>
                                                        <div class="field-datetime"><i class="lnr lnr-clock"></i>8
                                                            months ago</div>
                                                        <div class="field-map"><i
                                                                class="lnr lnr-map-marker"></i>Chicago, Illinois</div>
                                                    </div>
                                                    <div class="job-skill-tag">
                                                        <a href="#">CSS</a>
                                                        <a href="#">PHP</a>
                                                        <a href="#">WordPress</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Job End -->
                                </div>

                                <div class="col-md-6 mb-20">
                                    <!-- Single Job Start  -->
                                    <div class="single-job style-two">
                                        <div class="info-top">
                                            <div class="job-image">
                                                <a href="#">
                                                    <img src="assets/images/companies_logo/logo-100/logo3.jpg"
                                                        alt="logo">
                                                </a>
                                            </div>
                                            <div class="job-info">
                                                <div class="job-info-inner">
                                                    <div class="job-info-top">
                                                        <div class="saveJob for-listing">
                                                            <a class="job-type-label ml-20 mr-20">Remote</a>
                                                            <a class="save-job" href="#quick-view-modal-container"
                                                                data-toggle="modal">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </div>
                                                        <div class="title-name">
                                                            <h3 class="job-title">
                                                                <a href="#">Construction Worker</a>
                                                            </h3>
                                                            <div class="employer-name">
                                                                <a href="#">Digital Vine</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="job-meta-two">
                                                        <div class="field-salary_from">
                                                            <i class="gj-icon gj-icon-money"></i>
                                                            $500 - $1,000 / month
                                                        </div>
                                                        <div class="field-datetime"><i class="lnr lnr-clock"></i>8
                                                            months ago</div>
                                                        <div class="field-map"><i
                                                                class="lnr lnr-map-marker"></i>Chicago, Illinois</div>
                                                    </div>
                                                    <div class="job-skill-tag">
                                                        <a href="#">Angular</a>
                                                        <a href="#">ASP.NET</a>
                                                        <a href="#">Banner</a>
                                                        <a href="#">C++</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Job End -->
                                </div>

                                <div class="col-md-6 mb-20">
                                    <!-- Single Job Start  -->
                                    <div class="single-job style-two">
                                        <div class="info-top">
                                            <div class="job-image">
                                                <a href="#">
                                                    <img src="assets/images/companies_logo/logo-100/logo4.jpg"
                                                        alt="logo">
                                                </a>
                                            </div>
                                            <div class="job-info">
                                                <div class="job-info-inner">
                                                    <div class="job-info-top">
                                                        <div class="saveJob for-listing">
                                                            <span class="featured-label">featured</span>
                                                            <a class="job-type-label ml-20 mr-20">Full Time</a>
                                                            <a class="save-job" href="#quick-view-modal-container"
                                                                data-toggle="modal">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </div>
                                                        <div class="title-name">
                                                            <h3 class="job-title">
                                                                <a href="#">Unity Developer</a>
                                                            </h3>
                                                            <div class="employer-name">
                                                                <a href="#">Vsmarttech</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="job-meta-two">
                                                        <div class="field-salary_from">
                                                            <i class="gj-icon gj-icon-money"></i>
                                                            $500 - $1,000 / month
                                                        </div>
                                                        <div class="field-datetime"><i class="lnr lnr-clock"></i>8
                                                            months ago</div>
                                                        <div class="field-map"><i class="lnr lnr-map-marker"></i>Hanoi,
                                                            Hanoi</div>
                                                    </div>
                                                    <div class="job-skill-tag">
                                                        <a href="#">NodeJS</a>
                                                        <a href="#">PHP</a>
                                                        <a href="#">Python</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Job End -->
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="post-tags">
                            <ul class="tags">
                                <li>Tags:</li>
                                <li><a href="#">Branding</a></li>
                                <li><a href="#">Consulting</a></li>
                                <li><a href="#">Contruction</a></li>
                                <li><a href="#">Manage</a></li>
                                <li><a href="#">Marketing</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="post-author-info mt-70">
                            <div class="author-image">
                                <img src="assets/images/author/author1.jpg" alt="">
                            </div>
                            <div class="author-info">
                                <h3 class="author-name"><a href="#">Hien Tran</a></h3>
                                <p>Mc Cathy is an online courses and workshops for entrepreneurs and bloggers who want
                                    to grow an audience, start an online business, and change the freakin' world.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="post-navigation mt-90">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="prev-post">
                                        <a class="prev-post-title" href="#">
                                            <span class="text"><i class="lnr lnr-arrow-left"></i>Previous Post</span>
                                            <span class="title">Miley Cyrus and Job: 10 Surprising Things They Have in
                                                Common</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="next-post">
                                        <a class="next-post-title" href="#">
                                            <span class="text">Next Post<i class="lnr lnr-arrow-right"></i></span>
                                            <span class="title">7 Answers to the Most Frequently Asked Questions About
                                                Job</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="related-post mt-90">
                            <h3 class="title">Related Post</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- Single Blog Start -->
                                    <div class="single-blog-post mb-30">
                                        <div class="blog-image mb-15">
                                            <a href="#">
                                                <img src="assets/images/blog/blog9.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="post-meta mb-15">
                                                <li><i class="lnr lnr-user"></i><a href="#">Hien Tran</a></li>
                                                <li><i class="lnr lnr-file-add"></i><a href="#">News & Update</a></li>
                                                <li><i class="lnr lnr-clock"></i><a href="#"> Oct 24, 2019</a></li>
                                            </ul>
                                            <h5 class="title-two">
                                                <a href="#">7 Answers to the Most Frequently Asked Questions About
                                                    Job</a>
                                            </h5>
                                        </div>
                                    </div>
                                    <!-- Single Blog End -->
                                </div>
                                <div class="col-md-6">
                                    <!-- Single Blog Start -->
                                    <div class="single-blog-post mb-30">
                                        <div class="blog-image mb-15">
                                            <a href="#">
                                                <img src="assets/images/blog/blog10.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="post-meta mb-15">
                                                <li><i class="lnr lnr-user"></i><a href="#">Hien Tran</a></li>
                                                <li><i class="lnr lnr-file-add"></i><a href="#">News & Update</a></li>
                                                <li><i class="lnr lnr-clock"></i><a href="#"> Oct 24, 2019</a></li>
                                            </ul>
                                            <h5 class="title-two">
                                                <a href="#">What the Oxford English Dictionary About Job</a>
                                            </h5>
                                        </div>
                                    </div>
                                    <!-- Single Blog End -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="comment-wrapper mt-90">
                            <h3 class="title">Add Comment</h3>
                            <div class="comment-form">
                                <form action="#">
                                    <div class="row row-7">
                                        <div class="col-12 mb-15">
                                            <textarea placeholder="Your Message"></textarea>
                                        </div>
                                        <div class="col-md-4 mb-15">
                                            <input type="text" placeholder="Name">
                                        </div>
                                        <div class="col-md-4 mb-15">
                                            <input type="text" placeholder="Email">
                                        </div>
                                        <div class="col-md-4 mb-15">
                                            <input type="text" placeholder="Website">
                                        </div>
                                        <div class="col-12 text-center mt-20">
                                            <button class="ht-btn theme-btn theme-btn-two">Post Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- Blog Section End -->