<!-- Breadcrumb Section Start -->
<div class="breadcrumb-section section bg_color--5 pt-60 pt-sm-50 pt-xs-40 pb-60 pb-sm-50 pb-xs-40">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-breadcrumb-content">
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>Blog</li>
                    </ul>
                    <h1>Blog</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Start -->

<!-- Blog Section Start -->
<div class="blog-section section bg_color--5 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row g-0">

            <div class="col-lg-8">
                <div class="blog-wrapper">
                    <div class="row" *ngIf="blogs">

                        <div class="card col-12 mt-4 mb-1 p-2" *ngFor="let blog of blogs">
                            <!-- Single Blog Start -->
                            <div class="single-blog-post mb-2 mb-xs-50">
                                <div class="blog-image">
                                    <a [routerLink]="blog.key">
                                        <img src="{{blog.image}}" alt="">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <ul class="post-meta">
                                        <!-- <li><span class="feature-post">Sticky post </span></li> -->
                                        <li><i class="lnr lnr-user"></i><a href="#">{{blog.author}}</a></li>
                                        <li><i class="lnr lnr-file-add"></i><a href="#">{{blog.category}}</a></li>
                                        <li><i class="lnr lnr-clock"></i><a href="#"> {{blog.date}}</a></li>
                                    </ul>
                                    <h4 class="title">
                                        <a href="blog-details.html">{{blog.title}}</a>
                                    </h4>
                                    <p class="blog-desc">{{blog.description}}</p>
                                    <a href="blog-details.html" class="ht-btn theme-btn theme-btn-two">View more <i
                                            class="lnr lnr-chevron-right"></i></a>
                                </div>
                            </div>
                            <!-- Single Blog End -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" id="sticky-sidebar">
                <div class="sidebar-wrapper">
                    <div class="common-sidebar-widget">
                        <div class="sidebar-search-form">
                            <form action="#">
                                <input type="text" name="search" placeholder="Search...">
                                <button type="submit" class="ht-btn search-btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="common-sidebar-widget">
                        <h2 class="sidebar-title">Categories</h2>
                        <ul class="sidebar-list">
                            <li><a href="#">Career Advice (2)</a></li>
                            <li><a href="#">Job Skills (4)</a></li>
                            <li><a href="#">News & Update (3)</a></li>
                        </ul>
                    </div>
                    <div class="common-sidebar-widget">
                        <h2 class="sidebar-title">Recent Post</h2>
                        <div class="sidebar-blog pt-0">
                            <a href="blog-details.html" class="image"><img src="assets/images/rc-post/rc1.jpg"
                                    alt=""></a>
                            <div class="content">
                                <span>Oct 24, 2019</span>
                                <h5><a href="blog-details.html">The Reason Why Software Developer Repeats As ‘Best
                                        Job’</a></h5>
                            </div>
                        </div>
                        <div class="sidebar-blog">
                            <a href="blog-details.html" class="image"><img src="assets/images/rc-post/rc2.jpg"
                                    alt=""></a>
                            <div class="content">
                                <span>Oct 24, 2019</span>
                                <h5><a href="blog-details.html">7 Answers to the Most Frequently Asked Questions About
                                        Job</a></h5>
                            </div>
                        </div>
                        <div class="sidebar-blog">
                            <a href="blog-details.html" class="image"><img src="assets/images/rc-post/rc1.jpg"
                                    alt=""></a>
                            <div class="content">
                                <span>Oct 24, 2019</span>
                                <h5><a href="blog-details.html">The Question Everyone Working in Job Should Know to
                                        Answer</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="common-sidebar-widget">
                        <h2 class="sidebar-title">Tags</h2>
                        <ul class="sidebar-tag">
                            <li><a href="#">Branding (9)</a></li>
                            <li><a href="#">Consulting (9)</a></li>
                            <li><a href="#">Contruction (9)</a></li>
                            <li><a href="#">Manage (9)</a></li>
                            <li><a href="#">Marketing (9)</a></li>
                        </ul>
                    </div>
                    <div class="common-sidebar-widget">
                        <h2 class="sidebar-title">Archives</h2>
                        <ul class="sidebar-list">
                            <li><a href="#">October 2019</a></li>
                            <li><a href="#">September 2019</a></li>
                            <li><a href="#">August 2019</a></li>
                        </ul>
                    </div>
                    <div class="common-sidebar-widget">
                        <h2 class="sidebar-title">Meta</h2>
                        <ul class="sidebar-list">
                            <li><a href="#">Log in</a></li>
                            <li><a href="#">Entries feed</a></li>
                            <li><a href="#">Comments feed</a></li>
                            <li><a href="#">WordPress.org</a></li>
                        </ul>
                    </div>
                    <div class="common-sidebar-widget">
                        <div class="sidbar-image">
                            <a href="#">
                                <img src="assets/images/banner/ads.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Blog Section End -->