.b-back{
    background-image: url('https://media.istockphoto.com/photos/dark-blue-grunge-stone-background-toned-concrete-cement-texture-picture-id1278040696?k=20&m=1278040696&s=170667a&w=0&h=SuVbK63EAFh7x2yXQyObw4BmDeEthwDBKtZ7P-5Kkhw=');
    height: 600px;
    margin-top: -100px;
}


.job-section{
    padding-top: 50px;
    background-color: white;
    // height: 300px;
}